
a{
    background-color: red;
    color: #fff5f5;
    border-radius: 4px;
    font-size: 240px;
}

#description{
    margin-bottom: 36px;
}


main p{
    margin: 12px;
    color:rgb(71, 29, 22) ;
}

    
    .daily-goal{
        margin: 12px;
        color: rgb(71, 29, 22);
    }







a:hover{
    text-decoration: none;
}

ol{
    list-style: none;
}

/*li{
    list-style: none;
 } */

